
:root {
  --main-color-blue:  rgb(86, 179, 241); 
  --main-color-grey: rgb(197, 197, 197) ;
}

.jumbo-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),
   rgba(0, 0, 0, 0.8)), url(./assets/background.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

}
#p-link {
  font-family: 'Audiowide', cursive;  
  text-decoration: none;
  color: white;
  font-size: medium;
  transition: transform 0.7s;
}

#p-link:hover {
  color: rgb(86, 179, 241);
  transform: scale(1.2);
}
#p-link-1 {
  font-family: 'Audiowide', cursive;  
  text-decoration: none;
  color: rgb(86, 179, 241);
  transition: transform 0.5s;
}
#p-link-1:hover {
    color:rgb(248, 248, 248);
    transform: scale(1.2) translateX(10px)
}

.icons {
  font-weight: 1000;
  color :rgb(255, 255, 255);
  transition: transform 0.6s;
}
.icons:hover {
  transform: scale(1.15);
  color:rgb(204, 204, 204)
}

.stronk {
  font-weight: 600 ;
}

.footer-icons {
  font-weight: 1000;
  color:rgb(86, 179, 241);
  transition: transform 0.6s;
}
.footer-icons:hover {
  transform: scale(1.2);
  color:rgb(190, 229, 255);
}


#footer-container {
  background-color: var(--main-color-grey)
}


#nav-icons {
  display: flex;
  float: right;
}

#lead {
    font-size: 1.25rem;
    font-weight: 100;
}
.navbar {
   font-family: 'Audiowide', cursive;  
}

#idNav {
  background-color:var(--main-color-grey);
  height:50px;
  padding: 5px;
  box-shadow: 5px 5px black;
}

.card {
  opacity: 0.7;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.1);
  opacity: 1;
}

#jtext {
  font-family: 'Jura', sans-serif;
}